@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-manrope: "Manrope", sans-serif;
    --font-raleway: "Raleway", sans-serif;

    --color-light1: #1c72ff;
    --color-light2: #175ed3;
    --color-light3: #121212;
    --color-light4: #282828;
    --color-light5: #c3c3c3;
    --color-light6: #f9fafb;
    --color-light7: #ffffff;
    --color-light8: #d6e5ff;

    --color-dark1: #d9fb52;
    --color-dark2: #abc543;
    --color-dark3: #e7e7e7;
    --color-dark4: #dddddd;
    --color-dark5: #494949;
    --color-dark6: #121212;
    --color-dark7: #000000;
    --color-dark8: #747861;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer components {
    /* ----------------------  
        Navbar Utama (Home) 
    ------------------------- */
    .navbar {
        @apply md:flex text-[16px] text-light4 dark:text-dark4 z-50 hidden justify-between py-[15px] sticky top-0 px-[100px] items-center font-raleway font-semibold bg-[#f9fafbba] dark:bg-[#121212ba];
    }

    .navbar .logo {
        @apply text-[28px] font-bold text-light1 dark:text-dark1;
    }

    .navbar .nav-menu {
        @apply flex gap-7;
    }

    .navbar .nav-menu .nav-link {
        @apply relative  transition-all duration-300 hover:text-light1 dark:hover:text-dark1;
    }

    .navbar .nav-menu .nav-link::after {
        content: "";
        @apply absolute left-0 -bottom-[4px] w-0 h-[2.5px] bg-light1 transition-all duration-300;
    }

    .dark .navbar .nav-menu .nav-link::after {
        @apply bg-dark1;
    }

    .navbar .nav-menu .nav-link:hover::after,
    .navbar .nav-menu .nav-link.active::after {
        @apply w-[70%];
    }

    .navbar .nav-menu .nav-link.active {
        @apply text-light1 dark:text-dark1;
    }

    .navbar .nav-right {
        @apply flex items-center gap-[10px];
    }

    .toggle-mode {
        @apply relative inline-block text-left;
    }

    .toggle-mode .btn-mode {
        @apply mt-[5px] gap-0.5 cursor-pointer inline-flex justify-center items-center transition hover:text-light1 dark:hover:text-dark1;
    }

    .toggle-mode .menu-mode {
        @apply absolute -right-5 z-[9999] mt-2 w-[170px] text-[14px] font-manrope font-normal origin-top-right rounded-md shadow-lg bg-light7 dark:bg-dark7 dark:shadow-gray-950;
    }

    .toggle-mode .menu-mode .btn-light,
    .toggle-mode .menu-mode .btn-dark,
    .toggle-mode .menu-mode .btn-system {
        @apply flex items-center gap-2 cursor-pointer w-full text-left px-3 py-2.5 transition-all duration-200 hover:bg-light8 hover:text-light1 dark:hover:bg-dark8 dark:hover:text-dark1;
    }

    .toggle-mode .menu-mode .btn-light {
        @apply hover:rounded-t-md;
    }

    .toggle-mode .menu-mode .btn-system {
        @apply hover:rounded-b-md;
    }

    .navbar .nav-right .btn-login {
        @apply bg-light1 text-light6 hover:bg-light2 dark:bg-dark1 dark:text-dark6 dark:hover:bg-dark2 h-fit font-semibold py-[7px] px-[30px] rounded-md transition-all duration-300;
    }

    /* ------------------------ 
        Back to Top Section
    --------------------------- */
    .backToTop {
        @apply z-[999] text-center invisible fixed bottom-[25px] right-[25px] rounded-[10px] w-[35px] h-[35px] cursor-pointer opacity-0 flex items-center justify-center hover:rotate-45 transition-all duration-700 bg-light1 text-light6 hover:bg-light2 dark:bg-dark1 dark:text-dark6 dark:hover:bg-dark2;
    }

    .backToTop.show {
        @apply opacity-100 visible;
    }

    .backToTop svg {
        @apply transition-transform duration-600 hover:-rotate-45 absolute;
    }

    /* ------------------------ 
        Index (Home)
    --------------------------- */
    .home {
        @apply scroll-mt-24 h-screen max-w-[1150px] mx-auto flex items-center gap-[80px] -mt-[75px] pt-[50px];
    }

    .home h1 {
        @apply text-light1 dark:text-dark1 text-[70px] font-bold font-raleway leading-[80px];
    }

    .home h2 {
        @apply text-[20px] font-medium mt-[15px] mb-[25px];
    }

    .home a {
        @apply flex items-center w-fit text-[17px] font-raleway font-semibold py-[10px] px-[30px] rounded-md gap-[10px] transition-all duration-300 bg-light1 text-light6 hover:bg-light2 dark:bg-dark1 dark:text-dark6 dark:hover:bg-dark2;
    }

    /* ====== Book ====== */
    .book {
        @apply scroll-mt-24 max-w-[1100px] mx-auto mt-[50px] mb-[150px];
    }

    .book .container-book {
        @apply grid grid-cols-3 w-fit mx-auto gap-6;
    }

    .book .container-book .card {
        @apply flex flex-col justify-between cursor-pointer bg-light7 dark:bg-dark7 w-fit p-5 rounded-md shadow-lg text-left dark:shadow-gray-800;
    }

    .book .container-book .card img {
        @apply rounded-md h-[331px] w-[225px];
    }

    .book .container-book .card h3 {
        @apply text-[19px] w-[225px] font-semibold text-light3 dark:text-dark3 font-raleway mt-[15px] mb-[5px];
    }

    .book .variasi {
        @apply -mt-[200px] bg-light1 dark:bg-dark1 h-[242px] rounded-t-[50px];
    }

    /* ====== About ====== */
    .about {
        @apply mb-[200px] scroll-mt-24;
    }

    .about .item {
        @apply max-w-[1100px] text-center mx-auto text-[18px];
    }

    .about .item h3 {
        @apply text-light1 dark:text-dark1 text-[30px] font-bold font-raleway;
    }

    .about .item p {
        @apply my-[25px];
    }

    .images-wrapper {
        @apply overflow-hidden w-full py-5 mt-[80px];
    }

    .images-track {
        @apply flex;
        animation: scroll-loop 20s linear infinite;
    }

    .images-wrapper:hover .images-track {
        animation-play-state: paused;
    }

    .scroll-content {
        @apply flex gap-[100px];
    }

    .scroll-content img {
        @apply cursor-pointer;
    }

    @keyframes scroll-loop {
        from {
            transform: translateX(0%);
        }
        to {
            transform: translateX(-50%);
        }
    }

    .scroll-content img:hover ~ .images-track {
        animation-play-state: paused;
    }

    /* ====== Contact ====== */
    .contact {
        @apply relative max-w-[1100px] mx-auto scroll-mt-24 mb-[120px];
    }

    .contact h3 {
        @apply text-light1 dark:text-dark1 text-[30px] font-bold font-raleway text-center mb-[35px];
    }

    .contact .container-form {
        @apply flex gap-5;
    }

    .contact .group {
        @apply relative w-full mb-6;
    }

    .contact input,
    .contact textarea {
        @apply block py-2.5 px-4 w-full text-[16px] font-manrope border-1 rounded-md appearance-none focus:outline-none focus:ring-0 focus:border-light1 border-light5 text-light3 hover:border-light1 dark:focus:border-dark1 dark:border-dark5 dark:text-dark3 dark:hover:border-dark1 transition-all duration-300;
    }

    .contact label {
        @apply bg-light6 dark:bg-dark6 absolute text-[16px] duration-300 transform ms-2 px-4 -translate-y-6 font-manrope scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
    }

    .contact .btn-submit {
        @apply w-full rounded-md text-[17px] font-raleway font-semibold py-[12px] cursor-pointer transition-all duration-200 bg-light1 text-light6 hover:bg-light2 dark:bg-dark1 dark:text-dark6 dark:hover:bg-dark2;
    }

    .footer-index {
        @apply text-center py-[25px] bg-light1 text-light6 dark:bg-dark1 dark:text-dark6;
    }

    /* ------------------------ 
        Login Section
    --------------------------- */
    .login {
        @apply h-screen;
    }

    .login .logo {
        @apply flex justify-between px-[50px];
    }

    .login .logo h1 {
        @apply text-light1 dark:text-dark1 text-[45px] pt-[10px] font-raleway font-bold -mb-[5px];
    }

    .login .logo h2 {
        @apply text-[17px] font-manrope font-medium;
    }

    .login .container-login {
        @apply mt-[55px] max-w-[1100px] mx-auto flex items-center justify-between;
    }

    .login .container-login h3 {
        @apply text-[30px] font-semibold font-raleway text-light3 dark:text-dark3;
    }

    .login .container-login form {
        @apply flex flex-col gap-4 mt-[30px];
    }

    .login .container-login input {
        @apply block py-2.5 px-4 w-full text-[16px] font-manrope border-1 rounded-md appearance-none focus:outline-none focus:ring-0 focus:border-light1 border-light5 text-light3 hover:border-light1 dark:focus:border-dark1 dark:border-dark5 dark:text-dark3 dark:hover:border-dark1 transition-all duration-300;
    }

    .login .container-login label {
        @apply bg-light6 dark:bg-dark6 absolute text-[16px] duration-300 transform ms-2 px-4 -translate-y-6 font-manrope scale-75 top-3 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6;
    }

    .login .container-login .group {
        @apply relative w-full;
    }

    .login .container-login .toggle-password {
        @apply absolute top-1/2 right-4 -translate-y-1/2 cursor-pointer text-light4 hover:text-light1 dark:text-dark4 dark:hover:text-dark1 transition-all duration-300;
    }

    .login .container-login .toggle-password svg {
        @apply w-5 h-5;
    }

    .login .container-login button {
        @apply bg-light1 text-light6 hover:bg-light2 dark:bg-dark1 dark:text-dark6 dark:hover:bg-dark2 w-full rounded-md text-[17px] font-raleway font-semibold py-[12px] cursor-pointer transition-all duration-200;
    }

    .login .container-login a {
        @apply flex items-center gap-2 mt-10 text-[15px] hover:text-light1 dark:hover:text-dark1;
    }

    .footer-login {
        @apply absolute bottom-7 w-full text-center;
    }
}
